body {
    background: no-repeat linear-gradient(0deg, rgba(143,30,144,1) 0%, rgba(60,69,215,1) 100%, rgba(255,255,255,1) 100%);
    height: 100%;
}

header {
    display: grid;
    height: fit-content;
    grid-template-columns: 10rem 10rem auto;
    grid-template-rows: 100%;
}

header > h1 {
    grid-column: 2;
    width: 80%;
    padding-left: 0.8rem;
    text-align: center;
    font-size: 64px;
    align-self: center;
    color: black;
    -webkit-text-stroke: 2px white;
}

main > form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 50%;
    margin: auto;
    width: max-content;
    grid-gap: 0.5rem 1rem;
    border: 3px solid white;
    padding: 3rem;
}

form > h3 {
    grid-column: 1;
    text-align: end;
    padding: 1rem;
    padding-right: 3rem;
}

form > select {
    width: 84%;
    height: 50%;
    align-self: center;
}

form > input {
    padding-right: 5rem;
    align-self: center;
    grid-column: 2;
    width: 60%;
}

form > button {
    grid-column: span 2;
    margin: auto;
    width: 50%;
    height: 200%;
}

footer {
    display: grid;
}

@media screen and (max-width: 720px)  {

    header {
        height: 20vh;
        grid-template-rows: max-content;
        grid-template-columns: 100%;
    }

    header > * {
        margin: auto;
    }

    header > h1 {
        font-size: 48px;
        grid-row: 2;
        grid-column: 1;
        margin-top: -5%;
        padding-right: 1.6rem;
        text-align: center;
    }

    main > form {
        width: fit-content;
        grid-template-columns: 100%;
        grid-template-rows: max-content;
    }

    form > * {
        grid-column: 1;
        margin: auto;
    }

    form > input {
        grid-column: 1;
    }

    form > button {
        grid-column: 1;
        margin-top: 4rem;
        height: 60%;
    }

    form > select {
        height: 150%;
        width: 91%;
    }

    form > h3 {
        font-size: 24px;
        padding: 1rem;
    }
}
