* {
    /* Formatage par défaut de toutes les pages du site avec ces trois attributs */
    padding: 0;
    margin: 0;
    font-family: monospace;
}

html, body {
    height: 100%;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

input {
    height: 22px;
}

input, button {
    font-family: 'Roboto';
}


@media screen and (max-width: 960px)  {
    h1 {
        font-size: 60px;
    }
    
    h3 {
        font-size: 32px;
    }
    
    input {
        height: 26px;
    }


}